<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hc360.mobileaccount.dao.LoanMapper">
	<insert id="insert" parameterType="LoanInfo">		
		insert into p_loan_info (je,during,companyname,xm,phone,createtime) values (#{je}, #{during}, #{companyname}, #{xm} ,#{phone}, #{createtime})
	</insert>
</mapper>