@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
body{
	padding: 30px 60px;
	font-size: 13px;
	font-family: arial,sans-serif;
}
button{
	vertical-align: middle;
	padding: 6px 35px;
	margin: 0 30px;
}
ul{
	list-style-type: none;
}
label{
	vertical-align: middle;
	display: inline-block;
}
a{
	text-decoration: none;
	color: #333333;
}
.login-panel,.search-panel,.history-panel,.search-result-panel,.infomation-panel,.msg{
	min-width: 600px;
}
.login-panel{
	text-align: right;
}
.login-panel a{
	color: #990000;
}
.msg{
	display: none;
	padding: 0px 80px;
	color: #FF0000;
}